<p>
    <%= form.hidden_field :post_id %>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
</p>
<p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
</p>
<p>
    <%= form.label :website %><br />
    <%= form.text_field :website %>
</p>
<p>
    <%= form.label :body, "Comment" %><br />
    <%= form.text_area :body %>
</p>
<p>
    <%= form.submit "Add Comment"%>
</p>